<div class="row">
  <div class="col-md-12">
    <h2><a href="/categories/add" class="btn btn-success pull-right">Add Category</a></h2>
    <hr />
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Category ID</th>
              <th>Category Name</th>
              <th><th>
            </tr>
          </thead>
          <tbody>
            {{#each data}}
              <tr>
                <td><a href="/items?category={{id}}">{{id}}</td>
                <td><a href="/items?category={{id}}">{{category}}</td>
                <td><a href="/categories/delete/{{id}}" class="btn btn-danger">remove</td>
              </tr>
            {{/each}}
          </tbody>
      </table>  
    </div>
  </div>
  {{#unless data.length}}
    <div class="col-md-12 text-center">
      <strong>{{message}}</strong>
    </div>
  {{/unless}}
  </div>
</div>
