<div class="container">
  <h2>{{session.user.userName}} ( {{session.user.email}} ) History</h2>

  {{#if (session.user.loginHistory && session.user.loginHistory.length > 0)}}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Login Date/Time</th>
          <th>Client Information</th>
        </tr>
      </thead>
      <tbody>
        {{#each session.user.loginHistory}}
          <tr>
            <td>{{dateTime}}</td>
            <td>{{userAgent}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>No login history available.</p>
  {{/if}}
</div>
